/* Общие стили */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Стили для списка кандидатов */
.candidate-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-bottom: 40px;
}

@media (max-aspect-ratio: 16/9) {
  .candidate-list {
    grid-template-columns: repeat(5, minmax(250px, 1fr));
  }
}

@media (max-aspect-ratio: 9/16) {
  .candidate-list {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}


.candidate-card {
  width: 260px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#ffffff, rgba(0, 182, 255, 0.09));
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.candidate-card:hover {
  transform: translateY(-5px);
}

.candidate-card img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  filter: fade(10%);
  transition: filter 0.3s ease;
  animation: fade-in 0.3s ease-in;
  border: 3px solid rgba(0, 0, 0, 0.14);
}

.candidate-card:hover img {
  filter: grayscale(0);
}

.candidate-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.candidate-card p {
  font-size: 16px;
  font-weight: bolder;
  color: #414141;
  margin-bottom: 10px;
}

.candidate-card button {
  padding: 10px 40px;
  background-color: rgba(37, 132, 166, 0.56);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.candidate-card button:hover {
  background-color: #0056b3;
}

/* Стили для пагинации */
.pagination {
  position: sticky;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 0.8));
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.pagination button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.current-page {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
