<app-main-navbar></app-main-navbar>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="candidate-list">
        <ng-container *ngFor="let candidate of candidates">
          <div class="candidate-card">
            <img [src]="DownloadImage(candidate)" alt="Фото кандидата" class="img-fluid">
            <p class="candidate-card-ID">ID: {{ candidate.id }}</p>
            <button (click)="openCandidate(candidate.id)" class="btn btn-primary">Посмотреть</button>
            <button type="button" class="btn btn-danger position-relative">Like
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-white">
                  ❤️
                <span class="visually-hidden">unread messages</span></span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
